@import "../../scss/variables";
// @import '../../scss/mixins';

.about-bgImg-container {
  display: flex;
  flex-direction: column;
  .about__bio-image {
    z-index: -1;
    text-align: center;
    h2 {
      margin-top: 1rem;
      font-size: 3rem;
      color: #be6adf;
    }

    p {
      font-size: 1.2rem;
      margin: 2rem;
      line-height: 1.5rem;
    }
  }
}

.about {
  height: 90vh;

  &__container {
    // border: 2px solid red;
    width: 70vw;
    margin: 2rem auto;
  }

  .about__job {
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.178);
    padding: 1rem;
    border-bottom: 5px solid $secondary-color;

    h2,
    h3 {
      margin: 0.5rem 0;
    }

    h6 {
      margin: 0.3rem 0;
    }
  }
}
