@import "../../scss/variables";
@import "../../scss/mixins";

.contact {
  // border:2px solid red;
  height: 100vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;

  h2 {
    font-size: 4rem !important;
    margin-bottom: 4rem !important;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.8rem !important;
    gap: 3.5rem 5rem;

    justify-content: center;
    align-items: center;
  }
  .text-secondary {
    color: $secondary-color;
  }
  &__item {
    line-height: 3rem;
  }
}
