@import "../../scss/variables";
@import "../../scss/mixins";

.home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    font-weight: 600;
  }
  h2 {
    font-size: 3rem;
    opacity: 0.8;
    font-weight: 600;
  }
  h3 {
    font-size: 2rem;
  }
}

.swiperSlide img {
  max-width: 250px;
}
