@import "../../scss/variables";
@import "../../scss/mixins";

.home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #fff;
    &--last {
      color: red;
      font-weight: 700;
    }
  }
  h1 {
    font-weight: 600;
  }
  h2 {
    font-size: 3rem;
    opacity: 0.8;
    font-weight: 600;
  }
  h3 {
    font-size: 2rem;
  }
}
