@import "../../scss/variables";
@import "../../scss/mixins";

.nav {
  height: 10vh;
  padding: 1rem;

  &__list {
    text-align: right;
  }
  &__item {
    display: inline;
    padding: 1rem;
  }

  &__link {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: $font-family;
    @include transition(1s);

    &:hover {
      color: blue;
    }
    &--active {
      color: $secondary-color;
    }
  }
}
.active {
  background-color: #eb10f3;
  color: #ffffff;
}

#nav-color:hover {
  color: #be6adf !important;
}
#navbar-bcg {
  background-color: rgba(67, 3, 80, 0.459);
  position: fixed;
  top: 0;
  z-index: 10;
}
